# Environments
.env
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Vector DB & Data
data/chroma_db/
data/landing/
data/standardized/

# Pytest
.pytest_cache/

# OS Files
.DS_Store
Thumbs.db
